.section {
    min-height: 100vh;
    width: 100%;
    background-image: url("/public/Backgroundimages/MOFD.jpg");
    object-fit:cover;
    background-size:cover;

    display: flex;
    justify-content: center;
}

.feedContainer{
    height: 115vh;
    width: 70rem;

    padding-top: 5rem;
    padding-bottom: 5rem ;

    opacity: 0.9;

    position: relative;

    background-color: #e2effa;

    font-family: 'syne';

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.h3Div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: 1.4rem;
    background-color: #fed767;
}


.playlistDiv{
    border-right: solid 2px black;

    padding: 0.5rem;
}

.socialDiv{
    padding: 0.5rem;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.newsImage {
    width: 225px;
    height: 225px;
}




@media (max-width:630px) {
    .feedContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}



