.section {
    min-height: 100vh;
    width: 100%;
    background-image: url("/public/Backgroundimages/MOFD.jpg");
    object-fit:cover;
    background-size:cover;
}

.feedContainer{
    height: 100vh;
    width: 70rem;

    padding-top: 5rem;
    padding-bottom: 5rem ;

    opacity: 0.9;

    position: relative;
    left: calc(50% - 35rem);

    background-color: #e2effa;

    font-family: 'syne';

    display: grid;
    grid-template-columns: 2fr 1fr;
}


.playlistDiv{
    border-right: solid 2px black;

    padding: 0.5rem;
}

.socialDiv{
    padding: 0.5rem;
}

.h3Div{
    text-align: center;
    font-size: 1.4rem;
    background-color: #fed767;
}

